VITE_SUPABASE_URL=https://uvwznexpptgnphyhpffe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2d3puZXhwcHRnbnBoeWhwZmZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3MTgwMDEsImV4cCI6MjEwNjI5NDAwMX0.CqvB8o9RUc5xJ0wiAyYyEKbrsE8v7zoAhx522nG4JhM